/*
filename: Styles
author: Alesandro Michael Ferdinand
created: 09 November 2020
last modified:
description: MainCauses.html
*/

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Staatliches&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

body{
  background: #000000; /*Black*/
  scroll-behavior: smooth;
}

header{
  position: relative;
  width: 100%;
  height: 100vh; /*vh -> view height*/
  overflow: hidden;
  background: #000000;
}

section{
  padding: 3em;
  text-align: justify;
}

h1 a{
  text-align: center;
  color: maroon;
  font-size: 4em;
  font-family: 'Staatliches', sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: 3s;
}

h1 a:hover{
  color: red;
}

h2{
  text-align: center;
  color: #4D0000;
  font-size: 4em;
  font-family: 'Staatliches', sans-serif;
}

h3{
  text-align: center;
  color: #4D0000;
  font-size: 2em;
  font-family: 'Staatliches', sans-serif;
  margin-top: 5em;
}

section p{
  margin-bottom: 3em;
  line-height: 2em;
}

footer h2{
  text-align: center;
  color: maroon;
  font-size: 4em;
  font-family: 'Staatliches', sans-serif;
  margin-bottom: 0.5em;
  clear: both;
  padding-top: 3em;
}

footer a{
  text-decoration: none;
  font-family: "Courier New", sans-serif;
}

footer p{
  font-family: "Courier New", sans-serif;
  margin: 2em 3em;
  text-align: center;
}

.footerLink{
  text-align: center;
  line-height: 3em;
  font-size: 1.1em;
}

.socialMedia img{
  width: 3em;
  height: 3em;
  margin: 1em;
  margin-bottom: 2em;
}

.socialMedia{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#chartarea{
  margin-top: 5em;
  margin-left: -3em;
  position: sticky;
  top: 6em;
}

.content{
  width: 30em;
}

.content > div {
  padding-top: 40em;
  position: relative;
  left: 47em;
}

ul{
  padding-left: 2em;
}

#limit20{
  padding-top: 5em;
}

.tooltip{
  position: absolute;
  display: none;
  width: 6em;
  height: 2em;
  background: none repeat scroll 0 0 #d00000;
  border: 0.2em solid black;
  text-align: center;
  padding: auto;
  color: black;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

#note{
  text-align: center;
  margin-left: -0.3em;
  color: gray;
}

rect{
  transition: ease-in-out;
  transition-duration: 0.5s;
}

rect:hover{
  fill: red;
  transition: ease-in-out;
  transition-duration: 0.5s;
}

section > img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 1em;
}

#HeavyRain{
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 1.5em;
}

#endingMessage{
  color: rgb(156, 0, 0);
  font-family: "Staatliches", sans-serif;
}